# Connect to Supabase via connection pooling with custom provider, route using ?schema=supersign
DATABASE_URL="postgresql://[user]:[password]@[host]:6543/postgres?schema=supersign&pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://[user]:[password]@[host]:5432/postgres?schema=supersign"

PORT=5000
